@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>PACGOPDB</h2>
        <p>
            PACGOPDB lets you enter the data for card types, cards, and class decks to allow tracking through organized play.
        </p>
    </div>

</div>